<nav class="navbar navbar-inverse"></nav>
<div class="container-fluid">
    <div class="navbar-header">
        <a href="" class="navbar-brand">
            <span class="glyphicon glyphicon-picture"></span>
            Instagram Photos
        </a>
    </div>
</div>